<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actionscript Viewer</title>
</head>
<body>
<ol>
{% for item in code_list %}
 <li><a href="{{ url_for('code_page', file=item) }}" target="_blank">{{ item }}</a></li>
{% endfor %}
</ol>
</body>
</html>
